node_modules
dist
build
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.DS_Store
*.log
vite.config.ts.*
*.tar.gz
*.zip
*.tar
*.tar.xz
*.tar.bz2
*.tar.gz.asc
*.tar.gz.sha256
*.tar.gz.sha512
.gitignore
